<!-- start custom head snippets -->

<!-- favicon (http://realfavicongenerator.net) -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=zXd9pegmlg">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=zXd9pegmlg">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=zXd9pegmlg">
<link rel="manifest" href="/manifest.json?v=zXd9pegmlg">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=zXd9pegmlg" color="#292929">
<link rel="shortcut icon" href="/favicon.ico?v=zXd9pegmlg">
<meta name="theme-color" content="#ffffff">

<!-- end custom head snippets -->
