---
layout: default
cover: '#292929'
logo: /assets/images/logo-light.png
---

<header class="main-header {% if page.cover %}" style="background-color: {{page.cover}}; {%else%}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
            <a href="{{ site.baseurl }}">
                <div class="blog-logo">J</div>
            </a>

            <a class="subscribe-button" href="{{ site.baseurl }}blog" title="{{ site.blog_description }}">Blog</a>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ site.name }}</h1>
            <h2 class="page-description">
                {% if site.description %} <i class="fa fa-university"></i> &nbsp; {{ site.description }} {% endif %}
            </h2>
            <h2 class="page-description">
            	<br>
                <a href="mailto:{{ site.data.profile.email }}" rel="me" style="text-decoration: none">
                    <i class="fa fa-envelope fa-inverse fa-lg"></i>
                </a>

                &nbsp;
            	<a href="https://github.com/{{ site.data.profile.github }}" title="GitHub: jakecurran" rel="me" style="text-decoration: none">
            		<i class="fa fa-github fa-inverse fa-lg"></i>
            	</a>

            	&nbsp;
            	<a href="https://www.linkedin.com/in/{{ site.data.profile.linkedin }}" title="LinkedIn: {{ site.data.profile.linkedin }}" rel="me" style="text-decoration: none">
            		<i class="fa fa-linkedin fa-inverse fa-lg"></i>
            	</a>

                &nbsp;
                <a href="https://keybase.io/{{ site.data.profile.keybase }}" title="Keybase: {{ site.data.profile.keybase }}" rel="me" style="text-decoration: none">
                    <i class="fa fa-key fa-inverse fa-lg"></i>
                </a>

            </h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

<main id="content" class="content">
</main>
