---
layout: default
cover: '#292929'
logo: /assets/images/logo-light.png
---

<header class="main-header {% if page.cover %}" style="background-color: {{page.cover}}; {%else%}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
            {% if page.logo %}
                <a class="blog-logo" href="{{ site.baseurl }}">
                    <img src="{{ page.logo }}" alt="Blog Logo" />
                </a>
            {% endif %}

            <a class="subscribe-button" href="{{ site.baseurl }}blog" title="{{ site.blog_description }}">Blog</a>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ site.name }}</h1>
            <h2 class="page-description">
                {% if site.description %} <i class="fa fa-university"></i> &nbsp; {{ site.description }} {% endif %}
            </h2>
            <h2 class="page-description">
            	<br>
            	<a href="{{ site.github }}" style="text-decoration: none">
            		<i class="fa fa-github fa-inverse fa-lg"></i>
            	</a>
            	&nbsp;
            	<a href="{{ site.linkedin }}" style="text-decoration: none">
            		<i class="fa fa-linkedin fa-inverse fa-lg"></i>
            	</a>
              &nbsp;
              <a href="mailto:{{ site.email }}" style="text-decoration: none">
                <i class="fa fa-envelope fa-inverse fa-lg"></i>
              </a>
            </h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

<main id="content" class="content" role="main">
</main>
