<footer class="site-footer clearfix">
  <section class="copyright">
    <a href="/" title="Resume">
      {{ site.name }}
    </a>

    &nbsp;
    |

    &nbsp;
    <a href="/blog" title="{{ site.blog_description }}">
      Blog
    </a>

    &nbsp;
    <a href="/rss" title="RSS">
      <i class="fa fa-rss"></i>
    </a>

    &nbsp;
    |

    &nbsp;
    <a href="mailto:{{ site.data.profile.email }}" title="{{ site.data.profile.email }}">
      <i class="fa fa-envelope"></i>
    </a>

    &nbsp;
    <a href="https://github.com/{{ site.data.profile.github }}" title="GitHub: {{ site.data.profile.github }}">
      <i class="fa fa-github"></i>
    </a>

    &nbsp;
    <a href="https://www.linkedin.com/in/{{ site.data.profile.linkedin }}" title="LinkedIn: {{ site.data.profile.linkedin }}">
      <i class="fa fa-linkedin"></i>
    </a>

    &nbsp;
    <a href="https://keybase.io/{{ site.data.profile.keybase }}" title="Keybase: {{ site.data.profile.linkedin }}">
      <i class="fa fa-key"></i>
    </a>
  </section>
</footer>
